.gameBackground {
    background:  radial-gradient(rgb(1, 131, 1),rgb(1, 70, 1)) !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.handSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 100vh;
}