.gameBackground {
    background-image: url("../../assets/images/GF.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.handSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 100vh;
}