.errorMessage {
    font-size: 50px;
}

.errorSadness {
    font-size: 25px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}