.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.error-img {
    height: 500px;
    width: 500px;
}