
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Source+Sans+3:wght@300&display=swap');

.backgroundImageHolder{
    background-image: url('../assets/image/poker-cards.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.titleHolder{
    flex-direction: column;
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.title {
    font-family: 'Lobster Two', cursive, 'Source Sans 3', sans-serif;
    font-size: 100px;
}
